<div id="site_title_bar_wrapper_outter" class="container-fluid">
  <div id="site_title_bar_wrapper_inner" class="row">
    <div id="site_title_bar" class="row">
      <div id="banner_left" class="col-xs-12 col-md-6">
        <div id="site_title">
          <h1><a href="#">FRUIT <span>ART</span> <span class="tagline">Lorem ipsum dolor</span> </a></h1>
        </div>
        <div id="menu">
          <ul>
            <li><a href="#" class="current"><span></span>Lorem ipsum</a></li>
            <li><a href="#"><span></span>Lorem ipsum</a></li>
            <li><a href="#"><span></span>Lorem ipsum</a></li>
            <li><a href="#"><span></span>Lorem ipsum</a></li>
            <li><a href="#"><span></span>Lorem ipsum</a></li>
          </ul>
        </div>
        <!-- end of menu -->
      </div>
      <div id="banner_right" class="col-xs-12 col-md-6">
        <div id="banner_box">
          <h1>Welcome to Fruit Art</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices neque id augue rhoncus.<br /> &nbsp;
          </p>
          <div class="button"><a href="#">more</a></div>
        </div>
      </div>
    </div>
    <!-- end of site_title_bar  -->
  </div>
</div>
<!-- end of site_title_bar_wrapper_outter  -->
<div class="container">
  <div class="cleaner_h40"></div>
  <div class="row">
    <div class="section">
      <div class="col-xs-12 col-md-12">
        <p class="em_text">This <a href="#">Lorem ipsum</a> quis tincidunt orci. Nam lobortis varius porttitor. Quisque ut ipsum non tortor
          laoreet tristique dify augue rhoncus in gravida eros dictums. Pellentesque eleifend ornare <a href="#">Quisque ut</a> ornare ipsum, eu tincidunt nunc. Pellentesque eleifend ornare ipsum, eu tincidunt nunc pulvinar tincidunt. Integer
          vel erat purus, quis pulvinar metus. Phasellus sed orci eros.</p>
        <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Quisque nec dictum tortor. Etiam ultrices
          neque id augue rhoncus in gravida eros dictum. <a href="#">Integer</a> interdum sapien id diam tempor dapibus.
          Aliquam lobortis nunc risus. Suspendisse sodales massa velit. <a href="#">Quisque</a> odio quam, pulvinar sit amet
          convallis eget, venenatis ut turpis. <a href="#">Donec</a> ultricies eros et magna viverra venenatis et at arcu.
          Suspendisse quis tincidunt orci. Nam lobortis varius porttitor. Quisque ut ipsum non tortor laoreet tristique.
          Sed auctor mollis massa vel aliquet. </p>
      </div>
    </div>
  </div>
  <div class="cleaner_h40"></div>
  <div class="row">
    <div class="section">
      <div class="col-xs-4 col-md-2">
        <a href="#"> <img src="images/gallery/thumb/image_03.jpg" alt="" class="img-thumbnail"></a>
        <div class="cleaner_h30"></div>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#"> <img src="images/gallery/thumb/image_04.jpg" alt="" class="img-thumbnail"></a>
        <div class="cleaner_h30"></div>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#"> <img src="images/gallery/thumb/image_05.jpg" alt="" class="img-thumbnail"></a>
        <div class="cleaner_h30"></div>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#"> <img src="images/gallery/thumb/image_06.jpg" alt="" class="img-thumbnail"></a>
        <div class="cleaner_h30"></div>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#"> <img src="images/gallery/thumb/image_07.jpg" alt="" class="img-thumbnail"></a>
        <div class="cleaner_h30"></div>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="#"> <img src="images/gallery/thumb/image_08.jpg" alt="" class="img-thumbnail"></a>
        <div class="cleaner_h30"></div>
      </div>
    </div>
  </div>
  <!-- end of product gallery -->
  <div class="cleaner_h40"></div>
  <div class="row">
    <div class="section">
      <div class="col-xs-12 col-md-6">
        <h2>Lorem ipsum dolor sit</h2>
        <img src="images/image_01.jpg" alt="" class="img-thumbnail">
        <p>Integer nec orci at eros sollicitudin scelerisque semper a erat. Donec tincidunt luctus fringilla. Lorem ipsum dolor
          sit amet, consectetur adipiscing elit. Duis vulputate nunc a nulla placerat ultrices accumsan urna hendrerit. Nulla
          laoreet neque ut nisl porttitor <a href="#">condimentum</a>.</p>
        <div class="button"><a href="#">more</a></div>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2>Suspendisse sodales massa </h2>
        <img src="images/image_02.jpg" alt="" class="img-thumbnail">
        <p>Duis leo nibh, ultricies ut blandit sit amet, lacinia et sem. <a href="#">Aenean</a> et nulla magna, ut pretium enim.
          Phasellus tristique auctor pharetra. Mauris tincidunt elit non velit dictum convallis. Vestibulum dui sem, sagittis
          vitae sodales vel, cursus facilisis est.</p>
        <div class="button"><a href="#">more</a></div>
      </div>
    </div>
  </div>
  <div class="cleaner_h40"></div>
</div>
<!-- end of content -->
<footer id="footer_wrapper" class="container-fluid">
  <div id="footer" class="row">
    <div class="col-xs-6 col-md-3">
      <div class="row">
        <h3>Privacy Policy</h3>
        <div class="sub_content">
          <ul class="footer_list">
            <li><a href="#">Free CSS Templates</a></li>
            <li><a href="#">Free Flash Templates</a></li>
            <li><a href="#">Premium Templates</a></li>
            <li><a href="#">Web Design Articles</a></li>
            <li><a href="#">Best Flash Websites</a></li>
          </ul>
        </div>
      </div>
      <div class="cleaner_h30"></div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="row">
        <h3>Partners</h3>
        <div class="sub_content">
          <ul class="footer_list">
            <li><a href="#">Free CSS Templates</a></li>
            <li><a href="#">Free Flash Templates</a></li>
            <li><a href="#">Premium Templates</a></li>
            <li><a href="#">Web Design Articles</a></li>
            <li><a href="#">Best Flash Websites</a></li>
          </ul>
        </div>
      </div>
      <div class="cleaner_h30"></div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="row">
        <h3>About</h3>
        <div class="sub_content">
          <ul class="footer_list">
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Cum sociis</a></li>
            <li><a href="#">Donec quam</a></li>
            <li><a href="#">Nulla consequat</a></li>
            <li><a href="#">In enim justo</a></li>
          </ul>
        </div>
      </div>
      <div class="cleaner_h30"></div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="row">
        <h3>Customer Care</h3>
        <div class="sub_content">
          <ul class="footer_list">
            <li><a href="#">Aenean vulputate</a></li>
            <li><a href="#">Etiam ultricies</a></li>
            <li><a href="#">Nullam quis</a></li>
            <li><a href="#">Sed consequat</a></li>
            <li><a href="#">Cras dapibus</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
<!-- end of footer -->
</div>
<!-- end of footer wrapper -->
